In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('Market Intelligence Officer_TASK_agent_sample (1).xlsx')

# **EDA**

In [4]:
df.head()

,Application_Id,Applicant_Id,Citizenship_Country,Birth_Country,Current_Home_Country,Agent_Name,Agent_Country,Application_Submission_Date,Current_Application_Status,Last_Application_Status_Date,Admission_Code,Course_Code,Course_Name,Course_Campus,Study_Mode,Intake_Study_Session_Code
0,1000001,10002,INDIA,INDIA,INDIA,Agentium,INDIA,2021-03-10,Lapsed,2021-03-30,ISBQ,4421NS,Bachelor of Nursing,Albury-Wodonga Campus,On-campus,Session 1 2022
1,1000002,10006,NEPAL,NEPAL,AUSTRALIA,Institute Education,AUSTRALIA,2021-03-19,Lapsed,2021-03-30,ISBQ,4421NS,Bachelor of Nursing,Albury-Wodonga Campus,On-campus,Session 1 2022
2,1000003,10015,"KOREA, REPUBLIC OF","KOREA, REPUBLIC OF","KOREA, REPUBLIC OF",Gain Education Global,"KOREA, REPUBLIC OF",2021-03-21,Withdrawn,2021-03-30,ISBQ,4421NS,Bachelor of Nursing,Albury-Wodonga Campus,On-campus,Session 1 2022
3,1000004,10020,NEPAL,NEPAL,NEPAL,Institute Education,AUSTRALIA,2021-03-24,Lapsed,2021-03-30,ISBQ,4421NS,Bachelor of Nursing,Albury-Wodonga Campus,On-campus,Session 1 2022
4,1000005,10021,PAKISTAN,PAKISTAN,PAKISTAN,Education Quest,AUSTRALIA,2021-03-25,Lapsed,2021-03-30,ISPY,4405PH,Bachelor of Physiotherapy,Port Macquarie Campus,On-campus,Session 1 2022

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Application_Id                211 non-null    int64
 1   Applicant_Id                  211 non-null    int64
 2   Citizenship_Country           211 non-null    object
 3   Birth_Country                 211 non-null    object
 4   Current_Home_Country          211 non-null    object
 5   Agent_Name                    205 non-null    object
 6   Agent_Country                 205 non-null    object
 7   Application_Submission_Date   211 non-null    datetime64[ns]
 8   Current_Application_Status    211 non-null    object
 9   Last_Application_Status_Date  211 non-null    datetime64[ns]
 10  Admission_Code                211 non-null    object
 11  Course_Code                   211 non-null    object
 12  Course_Name                   211 non-null    object
 13  Course_Campus                 211 non-null    object
 14  Study_Mode                    211 non-null    object
 15  Intake_Study_Session_Code     211 non-null    object
dtypes: datetime64[ns](2), int64(2), object(12)
memory usage: 26.5+ KB

In [6]:
df.isnull().sum()

Application_Id                  0
Applicant_Id                    0
Citizenship_Country             0
Birth_Country                   0
Current_Home_Country            0
Agent_Name                      6
Agent_Country                   6
Application_Submission_Date     0
Current_Application_Status      0
Last_Application_Status_Date    0
Admission_Code                  0
Course_Code                     0
Course_Name                     0
Course_Campus                   0
Study_Mode                      0
Intake_Study_Session_Code       0
dtype: int64

In [7]:
df[df.isnull().any(axis=1)]

,Application_Id,Applicant_Id,Citizenship_Country,Birth_Country,Current_Home_Country,Agent_Name,Agent_Country,Application_Submission_Date,Current_Application_Status,Last_Application_Status_Date,Admission_Code,Course_Code,Course_Name,Course_Campus,Study_Mode,Intake_Study_Session_Code
7,1000008,10028,PHILIPPINES,PHILIPPINES,PHILIPPINES,NaN,NaN,2021-04-01,Lapsed,2021-04-10,IBIT,2421IT,Bachelor of Information Technology,Port Macquarie Campus,On-campus,Session 1 2022
28,1000029,10089,PHILIPPINES,PHILIPPINES,PHILIPPINES,NaN,NaN,2021-07-22,Declined,2021-09-20,IAAR,1421BA,Bachelor of Arts,Bathurst Campus,On-campus,Session 1 2022
29,1000030,10092,PHILIPPINES,PHILIPPINES,PHILIPPINES,NaN,NaN,2021-07-24,Declined,2021-09-20,IAAR,1421BA,Bachelor of Arts,Bathurst Campus,On-campus,Session 1 2022
35,1000036,10113,PHILIPPINES,PHILIPPINES,PHILIPPINES,NaN,NaN,2021-08-04,Accepted,2021-09-13,IBIT,2421IT,Bachelor of Information Technology,Port Macquarie Campus,On-campus,Session 1 2022
56,1000057,10196,PHILIPPINES,PHILIPPINES,PHILIPPINES,NaN,NaN,2021-08-29,Ineligible,2021-09-03,IBIT,2421IT,Bachelor of Information Technology,Port Macquarie Campus,On-campus,Session 1 2022
210,1000211,10715,PHILIPPINES,PHILIPPINES,PHILIPPINES,NaN,NaN,2022-02-10,Accepted,2022-02-19,ISBQ,4421NS,Bachelor of Nursing,Albury-Wodonga Campus,On-campus,Session 1 2022

In [8]:
df[['Agent_Name', 'Agent_Country']] = df[['Agent_Name', 'Agent_Country']].fillna('Unknown')

# **Data Transformation**

In [9]:
df.head()

,Application_Id,Applicant_Id,Citizenship_Country,Birth_Country,Current_Home_Country,Agent_Name,Agent_Country,Application_Submission_Date,Current_Application_Status,Last_Application_Status_Date,Admission_Code,Course_Code,Course_Name,Course_Campus,Study_Mode,Intake_Study_Session_Code
0,1000001,10002,INDIA,INDIA,INDIA,Agentium,INDIA,2021-03-10,Lapsed,2021-03-30,ISBQ,4421NS,Bachelor of Nursing,Albury-Wodonga Campus,On-campus,Session 1 2022
1,1000002,10006,NEPAL,NEPAL,AUSTRALIA,Institute Education,AUSTRALIA,2021-03-19,Lapsed,2021-03-30,ISBQ,4421NS,Bachelor of Nursing,Albury-Wodonga Campus,On-campus,Session 1 2022
2,1000003,10015,"KOREA, REPUBLIC OF","KOREA, REPUBLIC OF","KOREA, REPUBLIC OF",Gain Education Global,"KOREA, REPUBLIC OF",2021-03-21,Withdrawn,2021-03-30,ISBQ,4421NS,Bachelor of Nursing,Albury-Wodonga Campus,On-campus,Session 1 2022
3,1000004,10020,NEPAL,NEPAL,NEPAL,Institute Education,AUSTRALIA,2021-03-24,Lapsed,2021-03-30,ISBQ,4421NS,Bachelor of Nursing,Albury-Wodonga Campus,On-campus,Session 1 2022
4,1000005,10021,PAKISTAN,PAKISTAN,PAKISTAN,Education Quest,AUSTRALIA,2021-03-25,Lapsed,2021-03-30,ISPY,4405PH,Bachelor of Physiotherapy,Port Macquarie Campus,On-campus,Session 1 2022

In [10]:
df.groupby('Agent_Country').size()

Agent_Country
AUSTRALIA             159
HONG KONG               1
INDIA                  38
KOREA, REPUBLIC OF      2
NEPAL                   5
Unknown                 6
dtype: int64

In [17]:
df['Course_Campus'].value_counts()

Port Macquarie Campus    64
Bathurst Campus          53
Albury-Wodonga Campus    45
Wagga Wagga Campus       28
Online                   11
Orange Campus             6
Holmesglen                2
Multi-Campus              2
Name: Course_Campus, dtype: int64